<p> @ViewBag.Lugar.nombre </p>
<p id="MeGusta">Me Gusta: @ViewBag.Lugar.MeGusta</p>
<button onclick="GuardarMeGusta(@ViewBag.Lugar.id_lugar)">Me Gusta</button>

//info del lugar (foto, estrellas, enviar reseña, descripcion, boton agregar a favoritos, boton de chat)
<p>Reseñas & Calificaciones </p>
<p> Menu </p>
<p> Apto Restricciones </p>
<p>¿Cómo llegar?</p>