<p> @ViewBag.Lugar.nombre </p>
<p id="MeGusta">Me Gusta: @ViewBag.Lugar.MeGusta</p>
<button onclick="GuardarMeGusta(@ViewBag.Lugar.id_lugar)">Me Gusta</button>

//info del lugar (foto, estrellas, enviar reseña, descripcion, boton agregar a favoritos, boton de chat)

<img src="/wwwroot/img/estrellaSinFondo.png" id="#estrella1" onclick="actualizarEstrella(id,1)"/>
<img src="/wwwroot/img/estrellaSinFondo.png" id="#estrella2" onclick="actualizarEstrella(id,2)"/>
<img src="/wwwroot/img/estrellaSinFondo.png" id="#estrella3" onclick="actualizarEstrella(id,3)"/>
<img src="/wwwroot/img/estrellaSinFondo.png" id="#estrella4" onclick="actualizarEstrella(id,4)"/>
<img src="/wwwroot/img/estrellaSinFondo.png" id="#estrella5" onclick="actualizarEstrella(id,5)"/>

<p>Reseñas & Calificaciones </p>
<p> Menu </p>
<p> Apto Restricciones </p>
<p>¿Cómo llegar?</p>