html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

.register-container {
  background-image: url("/img/FondoLogin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 400px;
}

.register-form {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container {
  background-image: url("/img/FondoLogin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 400px;
}

.login-card {
  width: 500px;
  height: 600px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -500px;
}

.login-image {
  overflow: hidden;
  position: relative;
}

.burger-image {
  width: 80%;
}

.AlmuerzORT-image {
  width: 140px;
  height: auto;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.form-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-side h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-side label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-side input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-side button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-side button:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 20px;
  font-size: 14px;
}

.links a {
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-weight: bold;
}

/* INDEX */
header nav {
  background-color: #f8f9fa;
}

header .navbar-brand {
  font-weight: bold;
}

.container-section {
  margin: 20px;
}

.container-section p {
  font-size: 24px;
  font-weight: bold;
}

.card {
  width: 192px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  color: #666;
}

.btn-primary {
  margin-top: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
}

.nav-btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
}

.nav-btn:hover {
  color: #007bff;
}
/* INDEX */

/* INDEX */

header nav {
  background-color: #f8f9fa;
}

header .navbar-brand {
  font-weight: bold;
}

.container-section {
  margin: 20px;
}

.container-section p {
  font-size: 24px;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  margin-bottom: 20px; 
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  color: #666;
}

.btn-primary {
  margin-top: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
}

.nav-btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
}

.nav-btn:hover {
  color: #007bff;
}

/* INDEX */

/*Favoritos*/

.favorite-button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #666;
  transition: transform 0.2s ease-in-out;
}

.favorite-button:hover {
  color: #007bff;
  transform: scale(1.2); 
}

.favorite-button.liked {
  color: #007bff;
}

/*Favoritos*/



footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

#establecimiento {
  padding: 2rem;

  .contenedor {
    display: flex;

    .img-establecimiento {
      width: 20rem;
      border-radius: 2rem;
    }
    .img-estrella {
      width: 4rem;
      border-radius: 2rem;
    }
  }
}
