USE [master]
GO
/****** Object:  Database [AlmuerzORT]    Script Date: 21/11/2024 13:50:52 ******/
CREATE DATABASE [AlmuerzORT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlmuerzORT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AlmuerzORT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlmuerzORT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AlmuerzORT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlmuerzORT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlmuerzORT]
GO
/****** Object:  User [alumno]    Script Date: 21/11/2024 13:50:52 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ComidaxMenu]    Script Date: 21/11/2024 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComidaxMenu](
	[id_plato] [int] IDENTITY(1,1) NOT NULL,
	[nombre_plato] [varchar](50) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[precio] [float] NOT NULL,
	[id_restriccion] [int] NULL,
 CONSTRAINT [PK_ComidaxMenu] PRIMARY KEY CLUSTERED 
(
	[id_plato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Establecimientos]    Script Date: 21/11/2024 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establecimientos](
	[id_lugar] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[calificacion] [int] NOT NULL,
	[horarios] [varchar](100) NOT NULL,
	[descripcion] [varchar](300) NOT NULL,
	[fotos] [text] NULL,
 CONSTRAINT [PK_Establecimientos] PRIMARY KEY CLUSTERED 
(
	[id_lugar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 21/11/2024 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[id_lugar] [int] NOT NULL,
	[dni_usuario] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlatoxLugar]    Script Date: 21/11/2024 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatoxLugar](
	[id_lugar] [int] NOT NULL,
	[id_plato] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reseñas]    Script Date: 21/11/2024 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reseñas](
	[Id_reseña] [int] IDENTITY(1,1) NOT NULL,
	[contenido] [varchar](200) NOT NULL,
	[id_lugar] [int] NOT NULL,
	[dni_usuario] [int] NOT NULL,
 CONSTRAINT [PK_Reseñas] PRIMARY KEY CLUSTERED 
(
	[Id_reseña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restricciones]    Script Date: 21/11/2024 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restricciones](
	[id_restriccion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Restricciones] PRIMARY KEY CLUSTERED 
(
	[id_restriccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/11/2024 13:50:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[dni] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ComidaxMenu] ON 

INSERT [dbo].[ComidaxMenu] ([id_plato], [nombre_plato], [descripcion], [precio], [id_restriccion]) VALUES (1, N'Milanesa de Carne', N'Carne rebozada en pan rallado', 4000, 7)
INSERT [dbo].[ComidaxMenu] ([id_plato], [nombre_plato], [descripcion], [precio], [id_restriccion]) VALUES (3, N'Empanada', N' Fina masa de pan, masa quebrada u hojaldre rellena con una preparación salada o dulce y cocida al horno o frita.', 1000, 7)
INSERT [dbo].[ComidaxMenu] ([id_plato], [nombre_plato], [descripcion], [precio], [id_restriccion]) VALUES (4, N'Milanesa de Pollo', N'Pollo rebozado en pan rallado.', 4000, 7)
SET IDENTITY_INSERT [dbo].[ComidaxMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Establecimientos] ON 

INSERT [dbo].[Establecimientos] ([id_lugar], [nombre], [direccion], [telefono], [calificacion], [horarios], [descripcion], [fotos]) VALUES (3, N'Abuela Amasa', N'C. Dr. Juan Felipe Aranguren 19', N'011 5833-7469', 4, N'9am-6pm', N'¡Hola! Somos La Abuela Amasa y vendemos una gran variedad de pastas preparadas con ingredientes frescos y de la mejor calidad. ¡Te esperamos para que disfrutes de nuestras mejores recetas!', NULL)
INSERT [dbo].[Establecimientos] ([id_lugar], [nombre], [direccion], [telefono], [calificacion], [horarios], [descripcion], [fotos]) VALUES (5, N'La Matildita', N'Av. Díaz Vélez 4602', N'011 4982-1373', 4, N'8:30am-8:30pm', N'¡Hola! Somos La Matildita y vendemos una gran variedad de pastas preparadas con ingredientes frescos y de la mejor calidad. ¡Te esperamos para que disfrutes de nuestras mejores recetas!', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh5dbrpvfbmOZhnCMzxZvIx5aQHQauqtYnEQ&s')
SET IDENTITY_INSERT [dbo].[Establecimientos] OFF
GO
INSERT [dbo].[Favoritos] ([id_lugar], [dni_usuario]) VALUES (1, 48313547)
INSERT [dbo].[Favoritos] ([id_lugar], [dni_usuario]) VALUES (3, 48240825)
INSERT [dbo].[Favoritos] ([id_lugar], [dni_usuario]) VALUES (42, 48796333)
GO
INSERT [dbo].[PlatoxLugar] ([id_lugar], [id_plato]) VALUES (3, 15)
INSERT [dbo].[PlatoxLugar] ([id_lugar], [id_plato]) VALUES (13, 12)
INSERT [dbo].[PlatoxLugar] ([id_lugar], [id_plato]) VALUES (5, 9)
GO
SET IDENTITY_INSERT [dbo].[Reseñas] ON 

INSERT [dbo].[Reseñas] ([Id_reseña], [contenido], [id_lugar], [dni_usuario]) VALUES (2, N'Muy buenos precios y mejor la atención.', 1, 48043270)
INSERT [dbo].[Reseñas] ([Id_reseña], [contenido], [id_lugar], [dni_usuario]) VALUES (3, N'La comida muy sabrosa, los precios un poco elevados, pero en general, todo bien.', 3, 48240825)
INSERT [dbo].[Reseñas] ([Id_reseña], [contenido], [id_lugar], [dni_usuario]) VALUES (8, N'Pesimo lugar, muy sucio, poca higiene, pero la comida zafa.', 33, 48796333)
SET IDENTITY_INSERT [dbo].[Reseñas] OFF
GO
SET IDENTITY_INSERT [dbo].[Restricciones] ON 

INSERT [dbo].[Restricciones] ([id_restriccion], [nombre]) VALUES (1, N'intolerante a la lactosa')
INSERT [dbo].[Restricciones] ([id_restriccion], [nombre]) VALUES (2, N'celiaco')
INSERT [dbo].[Restricciones] ([id_restriccion], [nombre]) VALUES (3, N'vegano')
SET IDENTITY_INSERT [dbo].[Restricciones] OFF
GO
INSERT [dbo].[Usuario] ([dni], [nombre], [apellido], [contraseña], [mail], [descripcion], [usuario]) VALUES (23789555, N'Leo', N'Kristal', N'Leo22.kk', N'leo@gmail.com', N'Hola me llamo Leo!', N'leoK')
INSERT [dbo].[Usuario] ([dni], [nombre], [apellido], [contraseña], [mail], [descripcion], [usuario]) VALUES (48043270, N'Indiana', N'Sasson', N'12345678Is', N'48043270@est.ort.edu.ar', N'Alumno', N'indiSasson')
INSERT [dbo].[Usuario] ([dni], [nombre], [apellido], [contraseña], [mail], [descripcion], [usuario]) VALUES (48240825, N'Joaquin Ignacio', N'Ordoñez', N'12345678Jo', N'48240825@est.ort.edu.ar', N'Alumno', N'joacoo')
GO
ALTER TABLE [dbo].[ComidaxMenu]  WITH CHECK ADD  CONSTRAINT [FK_ComidaxMenu_Restricciones] FOREIGN KEY([id_restriccion])
REFERENCES [dbo].[Restricciones] ([id_restriccion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComidaxMenu] CHECK CONSTRAINT [FK_ComidaxMenu_Restricciones]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Establecimientos] FOREIGN KEY([id_lugar])
REFERENCES [dbo].[Establecimientos] ([id_lugar])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Establecimientos]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Usuario] FOREIGN KEY([dni_usuario])
REFERENCES [dbo].[Usuario] ([dni])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Usuario]
GO
ALTER TABLE [dbo].[PlatoxLugar]  WITH CHECK ADD  CONSTRAINT [FK_PlatoxLugar_ComidaxMenu] FOREIGN KEY([id_plato])
REFERENCES [dbo].[ComidaxMenu] ([id_plato])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlatoxLugar] CHECK CONSTRAINT [FK_PlatoxLugar_ComidaxMenu]
GO
ALTER TABLE [dbo].[PlatoxLugar]  WITH CHECK ADD  CONSTRAINT [FK_PlatoxLugar_Establecimientos] FOREIGN KEY([id_lugar])
REFERENCES [dbo].[Establecimientos] ([id_lugar])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlatoxLugar] CHECK CONSTRAINT [FK_PlatoxLugar_Establecimientos]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Establecimientos] FOREIGN KEY([id_lugar])
REFERENCES [dbo].[Establecimientos] ([id_lugar])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Establecimientos]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK_Reseñas_Usuario] FOREIGN KEY([dni_usuario])
REFERENCES [dbo].[Usuario] ([dni])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK_Reseñas_Usuario]
GO
USE [master]
GO
